/* ROOT */
.root {
    -fx-background-color: #1E1E1E;
}

/* LEFT conversation list */
.list-view {
    -fx-background-color: #252526;
}
.conv-title {
    -fx-font-weight: bold;
    -fx-text-fill: white;

}

.conv-subtitle {
    -fx-font-size: 11px;
    -fx-text-fill: white;
}
.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #DDDDDD;
}

.list-cell:selected {
    -fx-background-color: #37373D;
}

/* Message bubbles */
.message-bubble {
    -fx-padding: 8 12;
    -fx-background-radius: 12;
    -fx-text-fill: #EDEDED;
}

.mine .message-bubble {
    -fx-background-color: #2B6CB0;
}

.theirs .message-bubble {
    -fx-background-color: #3A3D41;
}

/* Header (username + time) */
.message-header {
    -fx-font-size: 10px;
    -fx-text-fill: #AAAAAA;
}

/* Input */
.text-field {
    -fx-background-radius: 20;
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

/* Send button */
.button {
    -fx-background-color: #2B6CB0;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #3C7DD9;
}
